
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
display: flex;

}
   
.nav-item{
    list-style: normal;;
    margin-right: 30px;

}
 .navbar{
    justify-content: space-between;
    align-items: center;
} 
.text-gray{
    color: #424242 ;
}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar , .banner {
 max-width: 1140px;
 margin:0 auto ;
}
.link{
   
    text-decoration: none;
}
.nav-item{
    list-style: none;
}
.banner-content{
 max-width: 850px;
 margin: 0 auto;
  text-align: center;
 margin-bottom: 50px;
}
.banner-titel{
    font-size: 64px;
    font-weight: bold;
}
.btn-primary{
  background-color: #FF900E;
  color: aliceblue;
   padding:20px 25px ; 
  font-size: 20px;
 font-weight: SemiBold;
 border-radius: 8px;
 border: none;
 margin-bottom: 30px;  
}
.banner-img {



width: 100%;

}
.team{
    align-items: center;
}

@media screen and(max-width:576px) {
    .navbar ,
     .nav-links, 
     .team-img-container,
     .teams {
        flex-direction: column;
        
    }
    .team-img-container{
       grid-template-columns: repeat(1,1fr);

    }
    .our-features{
        margin-left: 20px;
      
    }
    

    }
    

main >section{
    margin-top: 130px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
 .our-features{
     margin-left: 130px; 
 max-width: 530px; 

} 
.first{
    font-size: 45px;
   color: #727272;
}
.secound{
    font-size: 45px;
    font-weight: bold;
}
.third{
    font-size: 45px;
    font-weight: bold;
    color: #FF900E;
}

.team{
    align-items: center;
} 
/* .uss{
    margin-top: 400px;
    margin-left: 120px;
} */
.feature-description{
    color: #727272;
    font-size: 16px;
}

.tit{
    font-size: 45px;
    font-weight: bold;
   color: #424242;
}
.details{
    font-size:16px ;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
   border: 2px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    

}
.fact-number{
 font-size: 45px;  
 color: #424242;
 margin-top:5px ;
 margin-bottom: 10px;
}
.fact-name{
    font-size: 20px;
    color: #727272;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}


@media screen and (min-width:576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
    
}